## Instructions
- Utilisez **SQLAlchemy** pour interagir avec une base de données **PostgreSQL**.
- Assurez-vous que les tables respectent les contraintes de clés étrangères.
- Testez chaque requête avec les données fournies pour vérifier les résultats.


## Installation des prérequis
Exécutez la commande suivante pour installer les bibliothèques nécessaires :
```bash
pip install sqlalchemy psycopg2-binary
```

## Configuration de la base de données
Remplacez la chaîne de connexion dans le code par vos informations PostgreSQL, par exemple :
```python
engine = create_engine('postgresql://user:password@localhost:5432/restaurant_db')
```

# Exercice : Gestion d’un Restaurant avec SQLAlchemy et PostgreSQL

## Contexte
Vous êtes chargé de développer une application de gestion pour un restaurant. L'objectif est de modéliser et interagir avec une base de données pour gérer les plats, les catégories, les commandes et les clients à l'aide de **SQLAlchemy** et **PostgreSQL**. Les tâches incluent la création des tables, l'insertion de données, et l'exécution de requêtes.

Le restaurant souhaite suivre :
- Les **plats** disponibles (nom, prix, description, catégorie).
- Les **commandes** passées par les clients (date, contenu, total).
- Les **clients** (nom, email).
- Les **catégories** de plats (ex. : Entrée, Plat principal, Dessert, Boisson).

Créez une base de données nommée `restaurant_db` dans PostgreSQL avant d'exécuter le code.


## Structure des Tables
Voici la structure enrichie des tables à créer dans PostgreSQL :

- **categories** :
  - `id` (PK, entier)
  - `nom` (varchar, ex. : Entrée, Dessert)

- **plats** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `prix` (décimal)
  - `description` (varchar)
  - `categorie_id` (FK vers categories)

- **clients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `email` (varchar)
  - `telephone` (varchar, nullable)

- **commandes** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `date_commande` (timestamp)
  - `total` (décimal)

- **commande_plats** (table de liaison) :
  - `commande_id` (FK vers commandes)
  - `plat_id` (FK vers plats)
  - `quantite` (entier)

- **ingredients** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `cout_unitaire` (décimal)
  - `stock` (décimal, en kg ou unités)
  - `fournisseur_id` (FK vers fournisseurs)

- **fournisseurs** :
  - `id` (PK, entier)
  - `nom` (varchar)
  - `contact` (varchar)

- **plat_ingredients** (table de liaison) :
  - `plat_id` (FK vers plats)
  - `ingredient_id` (FK vers ingredients)
  - `quantite_necessaire` (décimal, en kg ou unités par plat)

- **avis** :
  - `id` (PK, entier)
  - `client_id` (FK vers clients)
  - `plat_id` (FK vers plats)
  - `note` (entier, 1 à 5)
  - `commentaire` (text, nullable)
  - `date_avis` (timestamp)

## Données à insérer
Insérez les données suivantes pour tester les requêtes. Les données sont diversifiées pour inclure des variations réalistes.

### categories

| id | nom            |
|----|----------------|
| 1  | Entrée         |
| 2  | Plat principal |
| 3  | Dessert        |
| 4  | Boisson        |
| 5  | Végétarien     |

### plats
| id | nom                 | prix  | description                     | categorie_id |
|----|---------------------|-------|---------------------------------|--------------|
| 1  | Salade César        | 45.00 | Salade avec poulet grillé       | 1            |
| 2  | Soupe de légumes    | 30.00 | Soupe chaude de saison          | 1            |
| 3  | Steak frites        | 90.00 | Viande grillée et frites        | 2            |
| 4  | Pizza Margherita    | 70.00 | Pizza tomate & mozzarella       | 2            |
| 5  | Tiramisu            | 35.00 | Dessert italien                 | 3            |
| 6  | Glace 2 boules      | 25.00 | Glace au choix                  | 3            |
| 7  | Coca-Cola           | 15.00 | Boisson gazeuse                 | 4            |
| 8  | Eau minérale        | 10.00 | Eau plate ou gazeuse            | 4            |
| 9  | Curry de légumes    | 65.00 | Plat végétarien épicé           | 5            |
| 10 | Falafel wrap        | 50.00 | Wrap avec falafels et légumes   | 5            |

### clients
| id | nom                | email                  | telephone      |
|----|--------------------|------------------------|----------------|
| 1  | Amine Lahmidi      | amine@example.com      | +212600123456  |
| 2  | Sara Benali        | sara.b@example.com     | +212600654321  |
| 3  | Youssef El Khalfi  | youssef.k@example.com  | NULL           |
| 4  | Fatima Zahra       | fatima.z@example.com   | +212600987654  |
| 5  | Omar Alaoui        | omar.a@example.com     | +212600112233  |

### commandes
| id | client_id | date_commande         | total  |
|----|-----------|-----------------------|--------|
| 1  | 1         | 2025-07-07 12:30:00   | 120.00 |
| 2  | 2         | 2025-07-07 13:00:00   | 85.00  |
| 3  | 1         | 2025-07-08 19:45:00   | 150.00 |
| 4  | 3         | 2025-08-15 18:30:00   | 200.00 |
| 5  | 4         | 2025-09-01 20:00:00   | 95.00  |
| 6  | 5         | 2025-09-10 12:15:00   | 75.00  |

### commande_plats
| commande_id | plat_id | quantite |
|-------------|---------|----------|
| 1           | 1       | 1        |
| 1           | 3       | 1        |
| 1           | 7       | 2        |
| 2           | 2       | 1        |
| 2           | 4       | 1        |
| 2           | 8       | 1        |
| 3           | 3       | 1        |
| 3           | 5       | 1        |
| 3           | 7       | 1        |
| 4           | 4       | 2        |
| 4           | 9       | 1        |
| 5           | 10      | 1        |
| 5           | 8       | 2        |
| 6           | 7       | 3        |
| 6           | 6       | 1        |

### fournisseurs
| id | nom                | contact                |
|----|--------------------|------------------------|
| 1  | AgriFresh          | contact@agrifresh.com  |
| 2  | MeatSupplier       | info@meatsupplier.com  |
| 3  | BevCo              | sales@bevco.com        |
| 4  | DairyFarm          | dairy@farm.com         |

### ingredients
| id | nom                | cout_unitaire | stock | fournisseur_id |
|----|--------------------|---------------|-------|---------------|
| 1  | Poulet             | 15.00         | 50    | 2             |
| 2  | Laitue             | 5.00          | 20    | 1             |
| 3  | Tomate             | 3.00          | 30    | 1             |
| 4  | Mozzarella         | 10.00         | 15    | 4             |
| 5  | Pomme de terre     | 2.00          | 100   | 1             |
| 6  | Café               | 20.00         | 5.    | 3             |
| 7  | Sucre              | 1.50          | 25    | 3             |
| 8  | Pois chiches       | 4.00          | 40    | 1             |

### plat_ingredients
| plat_id | ingredient_id | quantite_necessaire |
|---------|---------------|---------------------|
| 1       | 1             | 0.2                 |
| 1       | 2             | 0.1                 |
| 2       | 2             | 0.05                |
| 2       | 5             | 0.1                 |
| 3       | 1             | 0.3                 |
| 3       | 5             | 0.2                 |
| 4       | 3             | 0.1                 |
| 4       | 4             | 0.15                |
| 5       | 6             | 0.05                |
| 5       | 7             | 0.02                |
| 9       | 8             | 0.1                 |
| 10      | 8             | 0.15                |

### avis
| id | client_id | plat_id | note | commentaire                       | date_avis           |
|----|-----------|---------|------|----------------------------------|---------------------|
| 1  | 1         | 1       | 4    | Très frais, poulet bien cuit     | 2025-07-07 13:00:00 |
| 2  | 2         | 4       | 5    | Meilleure pizza du coin !        | 2025-07-07 14:00:00 |
| 3  | 3         | 9       | 3    | Un peu trop épicé                | 2025-08-15 19:00:00 |
| 4  | 4         | 10      | 4    | Bon, mais manque de sauce        | 2025-09-01 21:00:00 |
| 5  | 5         | 6       | 5    | Glace délicieuse                 | 2025-09-10 13:00:00 |

## Requêtes à réaliser
Créez un programme Python utilisant **SQLAlchemy** pour effectuer les tâches suivantes :

1. Créer les tables dans PostgreSQL en utilisant SQLAlchemy.
2. Insérer les données fournies ci-dessus.

In [ ]:
from sqlalchemy import create_engine, select, desc, Table, Text, ForeignKey, Column, TIMESTAMP, Integer, VARCHAR, MetaData, DECIMAL, CheckConstraint, insert
from datetime import datetime
from sqlalchemy.dialects.postgresql import insert

engine = create_engine('postgresql://postgres:password@localhost:5432/restaurant_db')

metadata = MetaData()

categories = Table('categories', metadata,
Column('id', Integer, primary_key=True),
Column('nom', VARCHAR))

plats = Table('plats', metadata, 
Column('id', Integer, primary_key=True),
Column('nom', VARCHAR),
Column('prix', DECIMAL),
Column('description', VARCHAR),
Column('categorie_id', ForeignKey('categories.id')))

clients = Table('clients', metadata,
Column('id', Integer, primary_key=True),
Column('nom', VARCHAR),
Column('email', VARCHAR),
Column('telephone', VARCHAR, nullable=True))

commandes = Table('commandes', metadata,
Column('id', Integer, primary_key=True),
Column('client_id', ForeignKey('clients.id')),
Column('date_commande', TIMESTAMP),
Column('total', DECIMAL)
)

commandes_plats = Table('commandes_plats', metadata,
Column('commande_id', ForeignKey('commandes.id')),
Column('plat_id', ForeignKey('plats.id')),
Column('quantite', Integer))

ingredients = Table('ingredients', metadata,
Column('id', Integer, primary_key = True),
Column('nom', VARCHAR),
Column('cout_unitaire', DECIMAL),
Column('stock', DECIMAL),
Column('fournisseur_id', ForeignKey('fournisseurs.id')))

fournisseurs = Table('fournisseurs', metadata,
Column('id', Integer, primary_key = True),
Column('nom', VARCHAR),
Column('contact', VARCHAR))

plat_ingredients = Table('plat_ingredients', metadata,
Column('id', Integer, primary_key=True),
Column('plat_id', ForeignKey('plats.id')),
Column('ingredient_id', ForeignKey('ingredients.id')),
Column('quantite_necessaire', DECIMAL))

avis = Table('avis',metadata,
Column('id', Integer, primary_key = True),
Column('client_id', ForeignKey('clients.id')),
Column('plat_id', ForeignKey('plats.id')),
Column('note', Integer, CheckConstraint('note>=1 AND note<=5')),
Column('commentaire', Text, nullable='true'),
Column('date_avis', TIMESTAMP))

metadata.create_all(engine)


categories_insertions = [{'id':1, 'nom':'Entree'},
                         {'id':2, 'nom':'Plat principal'},
                         {'id':3 , 'nom':'Dessert'},
                         {'id':4 , 'nom':'Boisson'},
                         {'id':5, 'nom':'Vegetarien'}]

fournisseurs_insertions = [{'id':1,'nom':'AgriFresh','contact':'contact@agrifresh.com'},
                           {'id':2,'nom':'MeatSupplier','contact':'info@meatsupplier.com'},
                           {'id':3,'nom':'BevCo','contact':'sales@bevco.com'},
                           {'id':4,'nom':'DairyFarm','contact':'dairy@farm.com'}]

ingredients_insertions = [{'id':1,'nom':'Poulet','cout_unitaire':15.00,'stock':50,'fournisseur_id':2},
                          {'id':2,'nom':'Laitue','cout_unitaire':5.00,'stock':20,'fournisseur_id':1},
                          {'id':3,'nom':'Tomate','cout_unitaire':3.00,'stock':30,'fournisseur_id':1},
                          {'id':4,'nom':'Mozzarella','cout_unitaire':10.00,'stock':15,'fournisseur_id':4},
                          {'id':5,'nom':'Pomme de terre','cout_unitaire':2.00,'stock':100,'fournisseur_id':1},
                          {'id':6,'nom':'Cafe','cout_unitaire':20.00,'stock':5.,'fournisseur_id':3},
                          {'id':7,'nom':'Sucre','cout_unitaire':1.50,'stock':25,'fournisseur_id':3},
                          {'id':8,'nom':'Pois chiches','cout_unitaire':4.00,'stock':40,'fournisseur_id':1}]

plats_insertions = [{'id':1,'nom':'Salade Cesar','prix':45.00,'description':'Salade avec poulet grille','categorie_id':1},
                    {'id':2,'nom':'Soupe de legumes','prix':30.00,'description':'Soupe chaude de saison','categorie_id':1},
                    {'id':3,'nom':'Steak frites','prix':90.00,'description':'Viande grilee et frites','categorie_id':2},
                    {'id':4,'nom':'Pizza Margherita','prix':70.00,'description':'Pizza tomate & mozzarella','categorie_id':2},
                    {'id':5,'nom':'Tiramisu','prix':35.00,'description':'Dessert italien','categorie_id':3},
                    {'id':6,'nom':'Glace 2 boules','prix':25.00,'description':'Glace au choix','categorie_id':3},
                    {'id':7,'nom':'Coca-cola','prix':15.00,'description':'Boission gazeuse','categorie_id':4},
                    {'id':8,'nom':'Eau minerale','prix':10.00,'description':'Eau plate ou gazeuse','categorie_id':4},
                    {'id':9,'nom':'Curry de legumes','prix':65.00,'description':'Plat vegetarien epice','categorie_id':5},
                    {'id':10,'nom':'Falafel wrap','prix':50.00,'description':'Wrap avec flafels et legumes','categorie_id':5}]  


clients_insertions = [{'id':1,'nom':'Amine Lahmidi', 'email':'amine@example.com', 'telephone':'+212600123456'},
                     {'id':2,'nom':'Sara Benali', 'email':'sara.b@example.com', 'telephone': '+212600654321'},
                     {'id':3,'nom':'Youssef El Khalfi', 'email':'youssef.k@example.com', 'telephone': None},
                     {'id':4,'nom':'Fatima Zahra', 'email':'fatima.z@example.com', 'telephone': '+212600987654'},
                     {'id':5,'nom':'Omar Alaoui', 'email':'omar.a@example.com', 'telephone': '+212600112233'}]

commandes_insertions = [{'id':1,'client_id':1,'date_commande':datetime.strptime('2025-07-07 12:30:00', '%Y-%m-%d %H:%M:%S'),'total':120.00},
                        {'id':2,'client_id':2,'date_commande':datetime.strptime('2025-07-07 13:00:00', '%Y-%m-%d %H:%M:%S'),'total':85.00},
                        {'id':3,'client_id':1,'date_commande':datetime.strptime('2025-07-08 19:45:00', '%Y-%m-%d %H:%M:%S'),'total':150.00},
                        {'id':4,'client_id':3,'date_commande':datetime.strptime('2025-08-15 18:30:00', '%Y-%m-%d %H:%M:%S'),'total':200.00},
                        {'id':5,'client_id':4,'date_commande':datetime.strptime('2025-09-01 20:00:00', '%Y-%m-%d %H:%M:%S'),'total':95.00},
                        {'id':6, 'client_id':5,'date_commande':datetime.strptime('2025-09-10 12:15:00', '%Y-%m-%d %H:%M:%S'), 'total':75.00}]  

commandes_plats_insertions = [{'commande_id':1,'plat_id':1,'quantite':1},
                              {'commande_id':1,'plat_id':3,'quantite':1},
                              {'commande_id':1,'plat_id':7,'quantite':2},
                              {'commande_id':2,'plat_id':2,'quantite':1},
                              {'commande_id':2,'plat_id':4,'quantite':1},
                              {'commande_id':2,'plat_id':8,'quantite':1},
                              {'commande_id':3,'plat_id':3,'quantite':1},
                              {'commande_id':3,'plat_id':5,'quantite':1},
                              {'commande_id':3,'plat_id':7,'quantite':1},
                              {'commande_id':4,'plat_id':4,'quantite':2},
                              {'commande_id':4,'plat_id':9,'quantite':1},
                              {'commande_id':5,'plat_id':10,'quantite':1},
                              {'commande_id':5,'plat_id':8,'quantite':2},
                              {'commande_id':6,'plat_id':7,'quantite':3},
                              {'commande_id':6,'plat_id':6,'quantite':1}]

plat_ingredients_insertions =[{"plat_id":1, "ingredient_id":1, "quantite_necessaire":0.2},
                              {"plat_id":1, "ingredient_id":2, "quantite_necessaire":0.1},
                              {"plat_id":2, "ingredient_id":2, "quantite_necessaire":0.05},
                              {"plat_id":2, "ingredient_id":5, "quantite_necessaire":0.1},
                              {"plat_id":3, "ingredient_id":1, "quantite_necessaire":0.3},
                              {"plat_id":3, "ingredient_id":5, "quantite_necessaire":0.2},
                              {"plat_id":4, "ingredient_id":3, "quantite_necessaire":0.1},
                              {"plat_id":4, "ingredient_id":4, "quantite_necessaire":0.15},
                              {"plat_id":5, "ingredient_id":6, "quantite_necessaire":0.05},
                              {"plat_id":5, "ingredient_id":7, "quantite_necessaire":0.02},
                              {"plat_id":9, "ingredient_id":8, "quantite_necessaire":0.1},
                              {"plat_id":10, "ingredient_id":8, "quantite_necessaire":0.15}]

avis_insertions = [{'id':1,'client_id':1,'plat_id':1,'note':4,'commentaire':'Tres frais, poulet bien cuit','date_avis':datetime.strptime('2025-07-07 13:00:00','%Y-%m-%d %H:%M:%S')},
                   {'id':2,'client_id':2,'plat_id':4,'note':5,'commentaire':'Meilleure pizza du coin!','date_avis':datetime.strptime('2025-07-07 14:00:00','%Y-%m-%d %H:%M:%S')},
                   {'id':3,'client_id':3,'plat_id':9,'note':3,'commentaire':'Un peu trop epice','date_avis':datetime.strptime('2025-08-15 19:00:00', '%Y-%m-%d %H:%M:%S')},
                   {'id':4,'client_id':4,'plat_id':10,'note':4,'commentaire':'Bon, mais manque de sauce','date_avis':datetime.strptime('2025-09-01 21:00:00', '%Y-%m-%d %H:%M:%S')},
                   {'id':5,'client_id':5,'plat_id':6,'note':5,'commentaire':'Glace delicieuse','date_avis':datetime.strptime('2025-09-10 13:00:00', '%Y-%m-%d %H:%M:%S')},
]

tables = [categories, fournisseurs, clients, plats, ingredients, commandes, commandes_plats, plat_ingredients, avis]
insertions = [categories_insertions, fournisseurs_insertions, clients_insertions, plats_insertions, ingredients_insertions, commandes_insertions, commandes_plats_insertions, plat_ingredients_insertions, avis_insertions]

with engine.connect() as connection:
    for x,y in zip(tables,insertions):
        print(f"Inserting into table: {x.name}")
        print(f"Data: {y}")
        stmt = insert(x)
        connection.execute(stmt, y)
        connection.commit()

3. Lister tous les plats triés par prix décroissant.

In [48]:
stmt3 = select(plats).order_by(desc(plats.c.prix))

with engine.connect() as conn:
    results = conn.execute(stmt3)


for x in results:
    print(x)

(3, 'Steak frites', Decimal('90.0'), 'Viande grilee et frites', 2)
(4, 'Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 2)
(9, 'Curry de legumes', Decimal('65.0'), 'Plat vegetarien epice', 5)
(10, 'Falafel wrap', Decimal('50.0'), 'Wrap avec flafels et legumes', 5)
(1, 'Salade Cesar', Decimal('45.0'), 'Salade avec poulet grille', 1)
(5, 'Tiramisu', Decimal('35.0'), 'Dessert italien', 3)
(2, 'Soupe de legumes', Decimal('30.0'), 'Soupe chaude de saison', 1)
(6, 'Glace 2 boules', Decimal('25.0'), 'Glace au choix', 3)
(7, 'Coca-cola', Decimal('15.0'), 'Boission gazeuse', 4)
(8, 'Eau minerale', Decimal('10.0'), 'Eau plate ou gazeuse', 4)


4. Lister tous les plats dont le prix est compris entre 30 et 80.

In [52]:
stmt4 = select(plats).where(plats.c.prix.between(30,80))

with engine.connect() as conn:
    results = conn.execute(stmt4)

for x in results:
    print(x)

(1, 'Salade Cesar', Decimal('45.0'), 'Salade avec poulet grille', 1)
(2, 'Soupe de legumes', Decimal('30.0'), 'Soupe chaude de saison', 1)
(4, 'Pizza Margherita', Decimal('70.0'), 'Pizza tomate & mozzarella', 2)
(5, 'Tiramisu', Decimal('35.0'), 'Dessert italien', 3)
(9, 'Curry de legumes', Decimal('65.0'), 'Plat vegetarien epice', 5)
(10, 'Falafel wrap', Decimal('50.0'), 'Wrap avec flafels et legumes', 5)


5. Afficher les clients dont le nom commence par "S" ou "F".

In [ ]:
from sqlalchemy import or_
stmt5 = select(clients).where(or_(clients.c.nom.like("S%"),clients.c.nom.like("F%")))

with engine.connect() as conn:
    results = conn.execute(stmt5)

for x in results:
    print(x)

(2, 'Sara Benali', 'sara.b@example.com', '+212600654321')
(4, 'Fatima Zahra', 'fatima.z@example.com', '+212600987654')

6. Afficher les plats avec leur nom de catégorie et le nom du fournisseur principal (via l'ingrédient le plus utilisé).

In [ ]:
from sqlalchemy import func

pi2 = plat_ingredients.alias()

stmt6 = select(plats.c.nom,categories.c.nom,fournisseurs.c.nom).join(categories, plats.c.categorie_id == categories.c.id).join(plat_ingredients, plats.c.id == plat_ingredients.c.plat_id).join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id).join(fournisseurs, fournisseurs.c.id == ingredients.c.fournisseur_id).where(plat_ingredients.c.quantite_necessaire == (select(func.max(pi2.c.quantite_necessaire)).where(pi2.c.plat_id == plats.c.id).scalar_subquery()))

with engine.connect() as conn:
    result = conn.execute(stmt6)

    for x in result:
        print(x)

('Salade Cesar', 'Entree', 'MeatSupplier')
('Soupe de legumes', 'Entree', 'AgriFresh')
('Steak frites', 'Plat principal', 'MeatSupplier')
('Pizza Margherita', 'Plat principal', 'DairyFarm')
('Tiramisu', 'Dessert', 'BevCo')
('Curry de legumes', 'Vegetarien', 'AgriFresh')
('Falafel wrap', 'Vegetarien', 'AgriFresh')


7. Lister les commandes avec le nom du client, la date, et le nombre total de plats commandés.

In [66]:
stmt7 = select(commandes.c.id, clients.c.nom, commandes.c.date_commande, func.count(commandes_plats.c.plat_id)).join(clients, clients.c.id == commandes.c.client_id).join(commandes_plats, commandes.c.id == commandes_plats.c.commande_id).group_by(commandes.c.id, clients.c.nom, commandes.c.date_commande)

with engine.connect() as conn:
    result = conn.execute(stmt7)

    for x in result:
        print(x)

(4, 'Youssef El Khalfi', datetime.datetime(2025, 8, 15, 18, 30), 2)
(3, 'Amine Lahmidi', datetime.datetime(2025, 7, 8, 19, 45), 3)
(1, 'Amine Lahmidi', datetime.datetime(2025, 7, 7, 12, 30), 3)
(2, 'Sara Benali', datetime.datetime(2025, 7, 7, 13, 0), 3)
(6, 'Omar Alaoui', datetime.datetime(2025, 9, 10, 12, 15), 2)
(5, 'Fatima Zahra', datetime.datetime(2025, 9, 1, 20, 0), 2)


8. Pour chaque commande, afficher les plats commandés, leur quantité, et le coût total des ingrédients.

In [67]:
stmt8 = select(commandes.c.id, plats.c.nom, commandes_plats.c.quantite, func.sum(ingredients.c.cout_unitaire)).join(commandes_plats, commandes_plats.c.commande_id == commandes.c.id).join(plats, plats.c.id == commandes_plats.c.plat_id).join(plat_ingredients, plats.c.id == plat_ingredients.c.plat_id).join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient.id)

with engine.connect() as conn:
    result = conn.execute(stmt8)

    for x in result:
        print(x)

AttributeError: ingredient


9. Afficher le nombre de plats pour chaque catégorie, y compris celles sans plats.

In [68]:
from sqlalchemy import func, outerjoin

stmt9 = select(categories.c.nom, func.count(plats.c.id)).join(plats, plats.c.categorie_id == categories.c.id, isouter=True).group_by(categories.c.nom)

with engine.connect() as conn:
    result = conn.execute(stmt9)
    for x in result:
        print(x)

('Boisson', 2)
('Plat principal', 2)
('Vegetarien', 2)
('Entree', 2)
('Dessert', 2)



10. Afficher le prix moyen des plats par catégorie et le coût moyen des ingrédients par plat.

In [69]:
from sqlalchemy import func

stmt10a = select(categories.c.nom, func.avg(plats.c.prix)).join(plats, plats.c.categorie_id == categories.c.id).group_by(categories.c.nom)

stmt10b = select(plats.c.nom, func.avg(ingredients.c.cout_unitaire * plat_ingredients.c.quantite_necessaire)).join(plat_ingredients, plats.c.id == plat_ingredients.c.plat_id).join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id).group_by(plats.c.nom)

with engine.connect() as conn:
    print("Prix moyen par catégorie:")
    for x in conn.execute(stmt10a):
        print(x)
    print("Coût moyen des ingrédients par plat:")
    for x in conn.execute(stmt10b):
        print(x)

Prix moyen par catégorie:
('Boisson', Decimal('12.5000000000000000'))
('Plat principal', Decimal('80.0000000000000000'))
('Vegetarien', Decimal('57.5000000000000000'))
('Entree', Decimal('37.5000000000000000'))
('Dessert', Decimal('30.0000000000000000'))
Coût moyen des ingrédients par plat:
('Pizza Margherita', Decimal('0.90000000000000000000'))
('Soupe de legumes', Decimal('0.22500000000000000000'))
('Falafel wrap', Decimal('0.60000000000000000000'))
('Curry de legumes', Decimal('0.40000000000000000000'))
('Tiramisu', Decimal('0.51500000000000000000'))
('Salade Cesar', Decimal('1.7500000000000000'))
('Steak frites', Decimal('2.4500000000000000'))



11. Afficher le nombre de commandes par client, trié par ordre décroissant.

In [70]:
stmt11 = select(clients.c.nom, func.count(commandes.c.id)).join(commandes, commandes.c.client_id == clients.c.id).group_by(clients.c.nom).order_by(desc(func.count(commandes.c.id)))

with engine.connect() as conn:
    result = conn.execute(stmt11)
    for x in result:
        print(x)

('Amine Lahmidi', 2)
('Fatima Zahra', 1)
('Omar Alaoui', 1)
('Youssef El Khalfi', 1)
('Sara Benali', 1)


12. Afficher les clients ayant passé plus de deux commandes.

In [90]:
stmt12 = (
    select(clients.c.nom)
    .join(commandes, commandes.c.client_id == clients.c.id)
    .group_by(clients.c.nom)
    .having(func.count(commandes.c.id) > 2)
)

with engine.connect() as conn:
    for row in conn.execute(stmt12):
        print(row)


13. Lister les plats commandés plus de trois fois avec leur total de quantités et leur note moyenne (via avis).

In [75]:
stmt13 = select(plats.c.nom, func.sum(commandes_plats.c.quantite), func.avg(avis.c.note)).join(commandes_plats, plats.c.id == commandes_plats.c.plat_id).join(avis, avis.c.plat_id == plats.c.id).group_by(plats.c.nom).having(func.sum(commandes_plats.c.quantite) > 3)

with engine.connect() as conn:
    result = conn.execute(stmt13)
    for x in result:
        print(x)


14. Lister les commandes du troisième trimestre 2025 (juillet à septembre).

In [76]:
from sqlalchemy import extract

stmt14 = select(commandes.c.id, commandes.c.date_commande).where(extract('month', commandes.c.date_commande).between(7, 9))

with engine.connect() as conn:
    result = conn.execute(stmt14)
    for x in result:
        print(x)

(1, datetime.datetime(2025, 7, 7, 12, 30))
(2, datetime.datetime(2025, 7, 7, 13, 0))
(3, datetime.datetime(2025, 7, 8, 19, 45))
(4, datetime.datetime(2025, 8, 15, 18, 30))
(5, datetime.datetime(2025, 9, 1, 20, 0))
(6, datetime.datetime(2025, 9, 10, 12, 15))


15. Afficher la commande la plus récente avec le nom du client et les plats commandés.

In [77]:
subq = select(commandes.c.id).order_by(desc(commandes.c.date_commande)).limit(1).scalar_subquery()

stmt15 = select(commandes.c.id, clients.c.nom, plats.c.nom, commandes_plats.c.quantite).join(clients, clients.c.id == commandes.c.client_id).join(commandes_plats, commandes_plats.c.commande_id == commandes.c.id).join(plats, plats.c.id == commandes_plats.c.plat_id).where(commandes.c.id == subq)

with engine.connect() as conn:
    result = conn.execute(stmt15)
    for x in result:
        print(x)

(6, 'Omar Alaoui', 'Glace 2 boules', 1)
(6, 'Omar Alaoui', 'Coca-cola', 3)


16. Afficher les clients ayant passé une commande d’un montant supérieur à 150, avec leur numéro de téléphone.

In [78]:
from sqlalchemy import func

stmt17 = select(plats.c.nom).join(plat_ingredients, plats.c.id == plat_ingredients.c.plat_id).join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id).group_by(plats.c.nom, plats.c.prix).having(func.sum(ingredients.c.cout_unitaire * plat_ingredients.c.quantite_necessaire) > (plats.c.prix * 0.5))

with engine.connect() as conn:
    result = conn.execute(stmt17)
    for x in result:
        print(x)


17. Afficher les plats dont le coût total des ingrédients est supérieur à 50% du prix du plat.

In [80]:
from sqlalchemy import func

stmt17 = select(plats.c.nom).join(plat_ingredients, plats.c.id == plat_ingredients.c.plat_id).join(ingredients, ingredients.c.id == plat_ingredients.c.ingredient_id).group_by(plats.c.nom, plats.c.prix).having(func.sum(ingredients.c.cout_unitaire * plat_ingredients.c.quantite_necessaire) > (plats.c.prix * 0.5))

with engine.connect() as conn:
    result = conn.execute(stmt17)
    for x in result:
        print(x)

18. Ajouter un nouveau plat dans la catégorie "Végétarien" avec deux ingrédients.

In [82]:
with engine.connect() as conn:
    new_plat = conn.execute(plats.insert().values(nom="Buddha Bowl", prix=55.00, description="Bol végétarien équilibré", categorie_id=5)).inserted_primary_key[0]
    conn.execute(plat_ingredients.insert().values(plat_id=new_plat, ingredient_id=2, quantite_necessaire=0.1))
    conn.execute(plat_ingredients.insert().values(plat_id=new_plat, ingredient_id=3, quantite_necessaire=0.15))
    conn.commit()

IntegrityError: (psycopg2.errors.UniqueViolation) ERREUR:  la valeur d'une clé dupliquée rompt la contrainte unique « plats_pkey »
DETAIL:  La clé « (id)=(2) » existe déjà.

[SQL: INSERT INTO plats (nom, prix, description, categorie_id) VALUES (%(nom)s, %(prix)s, %(description)s, %(categorie_id)s) RETURNING plats.id]
[parameters: {'nom': 'Buddha Bowl', 'prix': 55.0, 'description': 'Bol végétarien équilibré', 'categorie_id': 5}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

19. Supprimer le client "Youssef El Khalfi", ses commandes, et ses avis.

In [83]:
with engine.connect() as conn:
    client_id = conn.execute(select(clients.c.id).where(clients.c.nom == "Youssef El Khalfi")).scalar()
    conn.execute(avis.delete().where(avis.c.client_id == client_id))
    conn.execute(commandes_plats.delete().where(commandes_plats.c.commande_id.in_(select(commandes.c.id).where(commandes.c.client_id == client_id))))
    conn.execute(commandes.delete().where(commandes.c.client_id == client_id))
    conn.execute(clients.delete().where(clients.c.id == client_id))
    conn.commit()

20. Afficher pour chaque client :
    - Son nom
    - Le nombre total de plats commandés
    - Le montant total dépensé
    - La note moyenne de leurs avis

In [84]:
stmt20 = select(
    clients.c.nom,
    func.sum(commandes_plats.c.quantite),
    func.sum(commandes.c.total),
    func.avg(avis.c.note)
).join(commandes, commandes.c.client_id == clients.c.id).join(commandes_plats, commandes_plats.c.commande_id == commandes.c.id).join(avis, avis.c.client_id == clients.c.id).group_by(clients.c.nom)

with engine.connect() as conn:
    result = conn.execute(stmt20)
    for x in result:
        print(x)

('Fatima Zahra', 3, Decimal('190.0'), Decimal('4.0000000000000000'))
('Amine Lahmidi', 7, Decimal('810.0'), Decimal('4.0000000000000000'))
('Omar Alaoui', 4, Decimal('150.0'), Decimal('5.0000000000000000'))
('Sara Benali', 3, Decimal('255.0'), Decimal('5.0000000000000000'))

21. Lister les 3 plats les plus commandés (par quantité totale) avec leur catégorie.

In [87]:
stmt21 = select(plats.c.nom, categories.c.nom, func.sum(commandes_plats.c.quantite)).join(categories, plats.c.categorie_id == categories.c.id).join(commandes_plats, plats.c.id == commandes_plats.c.plat_id).group_by(plats.c.nom, categories.c.nom).order_by(desc(func.sum(commandes_plats.c.quantite))).limit(3)

with engine.connect() as conn:
    result = conn.execute(stmt21)
    for x in result:
        print(x)

('Coca-cola', 'Boisson', 6)
('Eau minerale', 'Boisson', 3)
('Steak frites', 'Plat principal', 2)


22. Afficher les clients et leurs dernières commandes, incluant les plats commandés.

In [86]:
subq = select(commandes.c.client_id, func.max(commandes.c.date_commande).label('max_date')).group_by(commandes.c.client_id).subquery()

stmt22 = select(clients.c.nom, commandes.c.date_commande, plats.c.nom, commandes_plats.c.quantite).join(commandes, commandes.c.client_id == clients.c.id).join(subq, (commandes.c.client_id == subq.c.client_id) & (commandes.c.date_commande == subq.c.max_date)).join(commandes_plats, commandes_plats.c.commande_id == commandes.c.id).join(plats, plats.c.id == commandes_plats.c.plat_id)

with engine.connect() as conn:
    result = conn.execute(stmt22)
    for x in result:
        print(x)

('Sara Benali', datetime.datetime(2025, 7, 7, 13, 0), 'Soupe de legumes', 1)
('Sara Benali', datetime.datetime(2025, 7, 7, 13, 0), 'Pizza Margherita', 1)
('Sara Benali', datetime.datetime(2025, 7, 7, 13, 0), 'Eau minerale', 1)
('Amine Lahmidi', datetime.datetime(2025, 7, 8, 19, 45), 'Steak frites', 1)
('Amine Lahmidi', datetime.datetime(2025, 7, 8, 19, 45), 'Tiramisu', 1)
('Amine Lahmidi', datetime.datetime(2025, 7, 8, 19, 45), 'Coca-cola', 1)
('Fatima Zahra', datetime.datetime(2025, 9, 1, 20, 0), 'Falafel wrap', 1)
('Fatima Zahra', datetime.datetime(2025, 9, 1, 20, 0), 'Eau minerale', 2)
('Omar Alaoui', datetime.datetime(2025, 9, 10, 12, 15), 'Coca-cola', 3)
('Omar Alaoui', datetime.datetime(2025, 9, 10, 12, 15), 'Glace 2 boules', 1)

23. Créer une vue virtuelle (SELECT) qui affiche :
    - Le nom du client
    - Les plats commandés
    - Les quantités
    - La date de la commande
    - La note moyenne du plat (via avis)

In [85]:
stmt23 = select(
    clients.c.nom.label('client'),
    plats.c.nom.label('plat'),
    commandes_plats.c.quantite,
    commandes.c.date_commande,
    func.avg(avis.c.note).label('note_moyenne')
).join(commandes, commandes.c.client_id == clients.c.id).join(commandes_plats, commandes_plats.c.commande_id == commandes.c.id).join(plats, plats.c.id == commandes_plats.c.plat_id).join(avis, avis.c.plat_id == plats.c.id).group_by(clients.c.nom, plats.c.nom, commandes_plats.c.quantite, commandes.c.date_commande)

with engine.connect() as conn:
    result = conn.execute(stmt23)
    for x in result:
        print(x)

('Amine Lahmidi', 'Salade Cesar', 1, datetime.datetime(2025, 7, 7, 12, 30), Decimal('4.0000000000000000'))
('Omar Alaoui', 'Glace 2 boules', 1, datetime.datetime(2025, 9, 10, 12, 15), Decimal('5.0000000000000000'))
('Sara Benali', 'Pizza Margherita', 1, datetime.datetime(2025, 7, 7, 13, 0), Decimal('5.0000000000000000'))
('Fatima Zahra', 'Falafel wrap', 1, datetime.datetime(2025, 9, 1, 20, 0), Decimal('4.0000000000000000'))

24. Afficher les fournisseurs dont les ingrédients sont en stock inférieur à 10 unités, avec le coût total des ingrédients en stock.

In [88]:
stmt24 = select(fournisseurs.c.nom, func.sum(ingredients.c.cout_unitaire * ingredients.c.stock)).join(ingredients, ingredients.c.fournisseur_id == fournisseurs.c.id).where(ingredients.c.stock < 10).group_by(fournisseurs.c.nom)

with engine.connect() as conn:
    result = conn.execute(stmt24)
    for x in result:
        print(x)

('BevCo', Decimal('100.00'))